<%= render 'home/menu' %>

<table border="1">
  
  <% @chat_records.each do |record| %>
  <tr>
    <td><a href="/home/<%= record.id %>"><%= record.created_at %></a></td>
    <td><%= link_to "delete", "/home/#{record.id}", :method => :delete, data: { confirm: "Delete?"} %></td>
  </tr>
  <% end %>
</ul>

<%= paginate @chat_records %>
